@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	place-items: center;
	background: #d6e1ff;
	font-family: "Red Hat Display", sans-serif;
	height: 100vh;
}

.main {
	max-width: 25rem;
	min-width: 23.43rem;
}

.info-container {
	display: flex;
	flex-direction: column;
	background: #fff;
	padding: 3.125rem;
	border-radius: 0 0 1.25rem 1.25rem;
	text-align: center;
	gap: 1.5625rem;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.illustration {
	max-width: 100%;
	display: block;
	border-radius: 1.25rem 1.25rem 0 0;
}

.info-container h1 {
	font-size: 1.5rem;
	font-weight: 800;
	color: #223256;
}

.info-container p {
	color: #797e94;
	font-weight: 500;
}

.section-details {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	background: #f8f9fe;
	padding: 15px;
	border-radius: 1.25rem;
}

.section-details a {
	grid-column: 3;
	font-size: 0.875rem;
	color: #3d35a8;
	font-weight: bold;
}

.section-details a:hover {
	color: #726bcb;
}

.section-value-details {
	grid-column: 1;
	display: flex;
	gap: 0.9375rem;
}

.section-value-details p {
	font-weight: bold;
	color: #242e49;
}

.section-value-details span {
	color: #8c91a4;
}

.button-payment {
	border: none;
	background: #382ae1;
	color: #fff;
	font-weight: bold;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.button-payment:hover {
	background: #766cf1;
}

.cancel-order-text {
	color: #747c95;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.875rem;
}
