@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	place-items: center;
	background: #d6e1ff;
	font-family: "Red Hat Display", sans-serif;
	height: 100vh;
}

.main {
	max-width: 400px;
}
.info-container {
	background: #fff;
	padding: 50px;
	border-radius: 0 0 20px 20px;
}

.illustration {
	max-width: 100%;
	display: block;
	border-radius: 20px 20px 0 0;
}
